@{
    Layout = null;
}

<div class="p-h-md p-v bg-white box-shadow pos-rlt">
    <h3 class="no-margin">Test Links</h3>
</div>
<div class="p-md">
    <div class="box">
        <div class="col-sm-6">
            <a ui-sref="app.addopportunity" class="text-md">Add an opportunity</a>
            
        </div>
    </div>
</div>